<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/stylesPageInitial.css" />
    <title>BrazTec</title>
  </head>
  <body>
    <!-- SIDEBAR -->
    <section id="sidebar">
      <a href="#" class="brand"><i class="bx bxs-smile icon"></i> BrazTec</a>
      <ul class="side-menu">
        <li>
          <a href="#" class="active"><i class="bx bxs-dashboard icon"></i> Novo</a>
        </li>
        <li class="divider" data-text="Menu">Menu</li>
        <li>
          <a href="#"><i class="bx bxs-dashboard icon"></i> Dashboard </a>
        </li>
        <li>
          <a href="#"><i class="bx bxs-inbox icon"></i> Contas </a>
        </li>
        <li>
          <a href="#"><i class="bx bxs-chart icon"></i> Transações</a>
        </li>
        <li>
          <a href="#"><i class="bx bx-credit-card icon"></i> Cartões de Crédito</a>
        </li>

        <li>
          <a href="#"><i class="bx bx-table icon"></i> Orçamentos</a>
        </li>
        <li>
          <a href="#"><i class="bx bx-book-bookmark icon"></i> Relatório</a>
        </li>
      </ul>
      <div class="ads">
        <div class="wrapper">
          <a href="#" class="btn-upgrade">Premium</a>
          <p>Torne-se um membro <strong> PRO </strong> e aproveite todos os <strong> recursos </strong></p>
        </div>
      </div>
    </section>
    <!-- SIDEBAR -->

    <!-- NAVBAR -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i class="bx bx-menu toggle-sidebar"></i>
        <form action="#">
          <div class="form-group">
            <input type="text" placeholder="Search..." />
            <i class="bx bx-search icon"></i>
          </div>
        </form>

        <div class="profile">
          <div class="name">
            <h4>Olá, <span>Anderson</span></h4>
          </div>

          <div class="foto">
            <img
              src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
              alt=""
            />
            <ul class="profile-link">
              <li>
                <a href="#"><i class="bx bxs-user-circle icon"></i> Meu Perfil</a>
              </li>
              <li>
                <a href="#"><i class="bx bxs-cog"></i> Configurações</a>
              </li>
              <li>
                <a href="/login"><i class="bx bxs-log-out-circle"></i> Sair</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <h1 class="title">Dashboard</h1>

        <ul class="breadcrumbs">
          <li><a href="#">Home</a></li>
          <li class="divider">/</li>
          <li><a href="#" class="active">Dashboard</a></li>
        </ul>

        <div class="info-data">
          <div class="card">
            <div class="head">
              <h2>Saldo Atual</h2>
              <i class="bx bxs-bank"></i>
            </div>
            <div class="money">
              <h5>R$3.514,56</h5>
            </div>
          </div>

          <div class="card">
            <div class="head">
              <div>
                <h2>Receitas</h2>
              </div>
              <i class="bx bx-trending-down icon down"></i>
            </div>
            <div class="money">
              <h5>R$7.514,56</h5>
            </div>
          </div>

          <div class="card">
            <div class="head">
              <div>
                <h2>Despesas</h2>
              </div>
              <i class="bx bx-trending-up icon"></i>
            </div>
            <div class="money">
              <h5>R$4.514,56</h5>
            </div>
          </div>

          <div class="card">
            <div class="head">
              <div>
                <h2>Cartão de Crédito</h2>
              </div>
              <i class="bx bx-trending-up icon"></i>
            </div>
            <div class="money">
              <h5>R$514.56</h5>
            </div>
          </div>
        </div>
        <div class="data">
          <div class="content-data">
            <div class="head">
              <h3>Balanço Geral</h3>
              <div class="menu">
                <i class="bx bx-dots-horizontal-rounded icon"></i>
                <ul class="menu-link">
                  <li><a href="#">Edit</a></li>
                  <li><a href="#">Save</a></li>
                  <li><a href="#">Remove</a></li>
                </ul>
              </div>
            </div>
            <div class="chart">
              <div id="chart"></div>
            </div>
          </div>
          <div class="content-data">
            <div class="head">
              <h3>Transações</h3>
              <div class="menu">
                <i class="bx bx-dots-horizontal-rounded icon"></i>
                <ul class="menu-link">
                  <li><a href="#">Recibo</a></li>
                  <li><a href="#">Exportar Transações</a></li>
                  <li><a href="#">Importar Transações</a></li>
                  <li><a href="#">Opção de visualização</a></li>
                </ul>
              </div>
            </div>
            <!-- <div class="chat-box">
						<p class="day"><span>Today</span></p>
						<div class="msg">
							<img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
							<div class="chat">
								<div class="profile">
									<span class="username">Alan</span>
									<span class="time">18:30</span>
								</div>
								<p>Hello</p>
							</div>
						</div>
						<div class="msg me">
							<div class="chat">
								<div class="profile">
									<span class="time">18:30</span>
								</div>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque voluptatum eos quam dolores eligendi exercitationem animi nobis reprehenderit laborum! Nulla.</p>
							</div>
						</div>
						<div class="msg me">
							<div class="chat">
								<div class="profile">
									<span class="time">18:30</span>
								</div>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, architecto!</p>
							</div>
						</div>
						<div class="msg me">
							<div class="chat">
								<div class="profile">
									<span class="time">18:30</span>
								</div>
								<p>Lorem ipsum, dolor sit amet.</p>
							</div>
						</div>
					</div>
					<form action="#">
						<div class="form-group">
							<input type="text" placeholder="Type...">
							<button type="submit" class="btn-send"><i class='bx bxs-send' ></i></button>
						</div>
					</form> -->
          </div>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- NAVBAR -->

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
