*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.mainReceita{
    min-height: 150vh;
}
.buttonMeusDados{
    display: flex;
    gap: 1vh;
}

.btnMeusDados {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 2vh;
    margin: 5px;
}
.GraficoDashboard{
    max-width: 450px;
    max-height: 450px;
}
.chart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnReceita{
    background-color: #0C5FCD;
    color: #ffffff;
    border: none;
    margin-left: 1.5vh;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 12vh;
    margin-bottom: 0.5vh;
}

.buttonMeusDados a {
    text-decoration: none;
    color: inherit;
}

.container{
    width: 100%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C2C2E;
    border-radius: 2vh;
    position: static;
    min-height: 600px;
    min-width: 500px;
    flex-direction: column;
    /* gap: 5vh; */
}

.containerMain{

    gap: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    background-color: transparent;
    background-color: rgb(28, 28, 30);
    width: 90%;
    height: 80%;
    border-radius: 5vh;
    padding: 25px;
    min-width: 500px;
}

.containerMain .containerLeft label{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    
}
.containerMain .containerDireito label{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    
}

.table td,
.table th {
  font-size: 21px;
  padding: 30px;
}

.containerLeft{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;

}
.title{
    color:#d1d1d1;
    font-size: 20px;
}
.containerDireito{

    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    gap: 5vh;

}

.containerLeft h2{
    color: #ffffff;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23353c4a' d='M15.39 7.44L10 12.83 4.61 7.44a.75.75 0 00-1.06 1.06l6.5 6.5a.75.75 0 001.06 0l6.5-6.5a.75.75 0 000-1.06h-.01a.76.76 0 00-1.06-.01z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 16px 16px;
    background-color: transparent; /* adiciona fundo transparente */
    color: #ececec;
}
  
select:hover, select:focus {
    border-color: #666;
}
  
  select option {
    color: #333;
    background-color: #f5f5f5;
  }

input {
    position: relative;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #8D8D8D;
    width: 70vh;
    padding: 5px;
    font-size: 16px;
    color: #ececec;
  }
  input:focus {
    outline: none;
  }

label{
    font-size: 13px;
    font-weight: 600;
    color: #c3bcbc;
  }

.btn{
    background-color: #0C5FCD;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 15vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.btnMeusDados{
    background-color: #0C5FCD;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 15vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


/* Estilização da linha divisória */
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  color: #6c757d;
  margin: 0.5rem 0;
}

.divider:before,
.divider:after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #6c757d;
}

.divider:before {
  margin-right: 0.5rem;
}

.divider:after {
  margin-left: 0.5rem;
}

  @media only screen and (max-width: 2000px) {
    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3vh;
        width: 80vh;
    }
    .containerDireito{

        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        gap: 5vh;
        width: 80vh;
    
    }
    .containerMain{
        padding: 5vh;
    }

    input {
       width: 100%;
    }
 }

 @media only screen and (max-width: 1360px) {
    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1vh;
    }
    .containerDireito{

        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        gap: 5vh;
    
    }
    .containerMain{
        gap: 5vh;
    }
    input {
       width: 100%;
    }
 }

 @media only screen and (max-width: 1110px) {
    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1vh;
    }
    .containerDireito{

        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        gap: 5vh;
    
    }
    .containerMain{
        gap: 5vh;
    }
    input {
       width: 100%;
    }
 }

 @media only screen and (max-width: 850px) {
    .containerMain{
        display: flex;        
    }
    input{
        width: 100%;
    }

 }

 @media only screen and (max-width: 530px) {
    
 }


 
 
