*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 2vh;
    position: static;
    min-height: 600px;
    min-width: 300px;

}

.containerMain{

    gap: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    background-color: #e7eaee;
    width: 90%;
    height: 80%;
    border-radius: 5vh;
    
}
.containerMain .containerLeft label{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    
}

.containerLeft{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;

}

.containerDireito{

    display: flex;
    flex-direction: column;
    margin-top: -5vh;
    gap: 5vh;

}

input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #c8cacd;
    outline: none;
    width: 40vh;
    padding: 5px;
    font-size: 16px;
  }

label{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
  }

.btn{
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 15vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

  
  @media only screen and (max-width: 1600px) {
    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1vh;
    }
    .containerDireito{

        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        gap: 5vh;
    
    }
    input {
       width: 100%;
    }
    /* adicione outras regras CSS aqui conforme necessário */
 }

 @media only screen and (max-width: 1360px) {
    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5vh;
    }
    .containerDireito{

        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        gap: 5vh;
    
    }
    .containerMain{
        gap: 10vh;
    }
    input {
       width: 100%;
    }
    /* adicione outras regras CSS aqui conforme necessário */
 }

 @media only screen and (max-width: 1110px) {
    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5vh;
    }
    .containerDireito{

        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        gap: 5vh;
    
    }
    .containerMain{
        gap: 2vh;
    }
    input {
       width: 100%;
    }
    /* adicione outras regras CSS aqui conforme necessário */
 }

 @media only screen and (max-width: 1050px) {
    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5vh;
    }
    .containerDireito{

        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        gap: 5vh;
    
    }
    .containerMain{
        flex-direction: column;
        height: 125vh;
    }

    .container{
        height: 130vh;
    }
    input {
       width: 110%;
    }
    main{
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    /* adicione outras regras CSS aqui conforme necessário */
 }

 @media only screen and (max-width: 530px) {
    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5vh;
    }
    .containerDireito{

        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        gap: 5vh;
    
    }
    .containerMain{
        flex-direction: column;
        height: 125vh;
    }

    .container{
        height: 130vh;
    }
    input {
       width: 100%;
    }
    main{
        margin-top: 5vh;
        margin-bottom: 5vh;
        
    }
    label{
        font-size: 14px;
    }
    /* adicione outras regras CSS aqui conforme necessário */
 }
 @media only screen and (max-width: 460px) {
    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.2vh;
        
    }
    .containerDireito{

        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        gap: 5vh;
        margin-left: 5vh;
        margin-right: 5vh;
    }
    .containerMain{
        flex-direction: column;
        height: 125vh;
    }

    .container{
        height: 130vh;
    }
    input {
       width: 100%;
    }
    main{
        margin-top: 5vh;
        margin-bottom: 5vh;
        
    }
    label{
        font-size: 12px;
    }

 }


 
 
