*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.buttonMeusDados{
    display: flex;
    gap: 1vh;
}

.btnMeusDados {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 2vh;
    margin: 5px;

}

.buttonMeusDados a {
    text-decoration: none;
    color: inherit;
}


.container{
    width: 100%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 2vh;
    position: static;
    min-height: 600px;
    min-width: 500px;
    flex-direction: column;
    /* gap: 5vh; */
}

.containerMain{

    gap: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    background-color: transparent;
    background-color: #e7eaee;
    width: 90%;
    height: 80%;
    border-radius: 5vh;
    padding: 25px;
    min-width: 500px;
}

.containerMain .containerLeft label{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    
}
.containerMain .containerDireito label{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    
}


.containerLeft{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;

}

.containerDireito{

    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    gap: 5vh;

}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23353c4a' d='M15.39 7.44L10 12.83 4.61 7.44a.75.75 0 00-1.06 1.06l6.5 6.5a.75.75 0 001.06 0l6.5-6.5a.75.75 0 000-1.06h-.01a.76.76 0 00-1.06-.01z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 16px 16px;
    background-color: transparent; /* adiciona fundo transparente */
  }
  
  select:hover, select:focus {
    border-color: #666;
  }
  
  select option {
    color: #333;
    background-color: #f5f5f5;
  }

input {
    position: relative;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #c8cacd;
    width: 70vh;
    padding: 5px;
    font-size: 16px;
  }
  input:focus {
    outline: none;
  }

label{
    font-size: 10px;
    font-weight: 600;
    color: #837f7f;
  }

.btn{
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 15vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.btnMeusDados{
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    width: 15vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

  
  @media only screen and (max-width: 2000px) {
    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1vh;
        width: 80vh;
    }
    .containerDireito{

        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        gap: 5vh;
        width: 80vh;
    
    }
    input {
       width: 100%;
    }
 }

 @media only screen and (max-width: 1360px) {
    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1vh;
    }
    .containerDireito{

        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        gap: 5vh;
    
    }
    .containerMain{
        gap: 5vh;
    }
    input {
       width: 100%;
    }
 }

 @media only screen and (max-width: 1110px) {
    .containerLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1vh;
    }
    .containerDireito{

        display: flex;
        flex-direction: column;
        margin-top: 5vh;
        gap: 5vh;
    
    }
    .containerMain{
        gap: 5vh;
    }
    input {
       width: 100%;
    }
 }

 @media only screen and (max-width: 850px) {
    .containerMain{
        display: flex;        
    }
    input{
        width: 100%;
    }

 }

 @media only screen and (max-width: 530px) {
    
 }


 
 
