<main>
  <form>
    <div class="container">
      <!-- MAIN -->
      <%- include ('BotaoCadastroPerfil.ejs'); -%>
      <!-- MAIN -->
      <div class="containerMain">
        <!-- MAIN -->
        <%- include ('FormularioCadastroFinanceiro.ejs'); -%>
        <!-- MAIN -->
      </div>
      <div class="btnFund">
        <button class="btn" id="btn_perfil" type="submit" name="submit" onclick="UpdateDadosUserFinanceiro()">
          Salvar
        </button>
      </div>
    </div>
  </form>

  <script src="/js/SearchDadosUser.js"></script>
  <script src="/js/UpdateDadosUserFinanceiro.js"></script>
</main>
