<main>
  <form>
    <div class="container">
      <br /><br />
      <h1 style="color: aliceblue; font-size: 40px">
        <i class="bx bx-trending-up" style="color: green"></i> Cadastro Receita
      </h1>
      <br /><br />

      <%- include ('FormularioCadastroReceita.ejs'); -%>
    </div>
    <%- include ('ReceitasCriadasUser.ejs'); -%>
  </form>

  <script src="/js/CreateReceita.js"></script>
</main>
