<main>
  <form>
    <div class="container">
      <br /><br />
      <h1 style="color: aliceblue; font-size: 40px">
        <i class="bx bxs-inbox icon" style="color: rgb(255, 255, 255)"></i> Cadastro Conta Bancária
      </h1>
      <br /><br />

      <%- include ('FormularioContaBancaria.ejs'); -%>
    </div>
    <%- include ('TabelaContaBancaria.ejs'); -%>
  </form>

  <script src="/js/CreateContaBancaria.js"></script>
</main>
