<main>
  <form>
    <div class="container">
      <!-- MAIN -->
      <br /><br />
      <h1 style="color: aliceblue; font-size: 40px">
        <i class="bx bx-credit-card icon" style="color: rgb(1, 75, 0)"></i> Cartão de Crédito
      </h1>
      <br /><br />
      <!-- MAIN -->
      <!-- <div class="containerMain"> -->
      <!-- MAIN -->
      <!-- <%- include ('FormularioCadastroCartaoDeCredito.ejs'); -%> -->
      <%- include ('ModalCartaoDeCredito.ejs'); -%>
      <!-- MAIN -->
      <!-- </div> -->
      <!-- <div class="btnFund">
        <button class="btn" id="btn_prof" type="submit" name="submit" onclick="CreateCartaoDeCredito()">Salvar</button>
      </div> -->
    </div>
    <%- include ('ReceitasCartaoDeCredito.ejs'); -%>
  </form>

  <script src="/js/CreateCartaoDeCredito.js"></script>
</main>
