<main>
  <form>
    <div class="container">
      <br /><br />
      <h1 style="color: aliceblue; font-size: 40px">
        <i class="bx bx-trending-down" style="color: rgb(186, 0, 0)"></i> Cadastro Despesa
      </h1>
      <br /><br />

      <%- include ('FormularioCadastroDespesa.ejs'); -%>
    </div>
    <%- include ('DespesasCriadasUser.ejs'); -%>
  </form>

  <script src="/js/CreateDespesa.js"></script>
</main>
