<main>
  <form>
    <div class="container">
      <!-- MAIN -->
      <br /><br />
      <h1 style="color: aliceblue; font-size: 40px">
        <i class="bx bx-trending-down" style="color: rgb(186, 0, 0)"></i> Despesa
      </h1>
      <br /><br />
      <!-- MAIN -->
      <div class="containerMain">
        <!-- MAIN -->
        <%- include ('FormularioCadastroDespesa.ejs'); -%>
        <!-- MAIN -->
      </div>
      <div class="btnFund">
        <button class="btn" id="btn_prof" type="submit" name="submit" onclick="">Salvar</button>
      </div>
    </div>
  </form>

  <!-- <script src="/js/SearchDadosUser.js"></script>
  <script src="/js/UpdateDadosUserProfissional.js"></script> -->
</main>
