<button type="button" class="buttonAddCredit" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="bx bx-plus iconPlus"></i>
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color: aliceblue">
          <i class="bx bx-credit-card icon" style="color: rgb(255, 255, 255)"></i> Cadastro Receita
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <div class="containerLeft">
          <div class="box">
            <label for="">Valor:</label>
            <input type="number" name="valor" id="valor" required />
          </div>

          <div class="box">
            <label for="">Status:</label>
            <select name="status" id="status" required>
              <option value="Concluido">Concluido</option>
              <option value="A Receber">A Receber</option>
            </select>
          </div>

          <div class="box">
            <label for="">Descricao:</label>
            <input type="text" name="descricao" id="descricao" required />
          </div>
          <div class="box">
            <label for="">Categoria:</label>
            <select name="categoria" id="categoria" required>
              <option value="Investimento">Investimento</option>
              <option value="Outros">Outros</option>
              <option value="Prêmio">Prêmio</option>
              <option value="Presente">Presente</option>
            </select>
          </div>
        </div>
        <div class="containerDireito">
          <div class="box">
            <label for="">Data:</label>
            <input type="date" name="data" id="data" required />
          </div>

          <div class="box">
            <label for="">conta:</label>
            <select name="contas" id="contas" required></select>
          </div>

          <div class="d-grid gap-5 col-20 mx-auto">
            <button class="btn btn-primary" type="submit" name="submit" onclick="CreateReceita(event)">Salvar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
<script src="/js/ScriptSelectContaFormulario.js"></script>
