<div class="containerLeft">
  <div class="box">
    <label for="">Escolaridade:</label>
    <input type="text" name="Escolaridade" id="Escolaridade" />
  </div>

  <div class="box">
    <label for="">Profissao:</label>
    <input type="text" name="Profissao" id="Profissao" />
  </div>

  <div class="box">
    <label for="">Atividade Desempenhada:</label>
    <input type="text" name="atividadeDesempenhada" id="atividadeDesempenhada" />
  </div>

  <div class="box">
    <label for="">Email Comercial:</label>
    <input type="text" name="emailComercial" id="emailComercial" />
  </div>
</div>
<div class="containerDireito">
  <div class="box">
    <label for="">Fonte de Renda:</label>
    <input type="text" name="fonteDeRenda" id="fonteDeRenda" />
  </div>

  <div class="box">
    <label for="">Renda Mensal:</label>
    <input type="text" name="rendaMensal" id="rendaMensal" />
  </div>

  <div class="box">
    <label for="">Empresa Atual:</label>
    <input type="text" name="Empresa" id="Empresa" />
  </div>

  <div class="box">
    <label for="">Telefone Comercial:</label>
    <input type="text" name="telefoneComercial" id="telefoneComercial" />
  </div>
</div>
