<div class="containerLeft">
  <div class="box">
    <label for="">Valor:</label>
    <input type="text" name="valor" id="valor" />
  </div>

  <div class="box">
    <label for="">Status:</label>
    <input type="text" name="status" id="status" />
  </div>

  <div class="box">
    <label for="">Descricao:</label>
    <input type="text" name="descricao" id="descricao" />
  </div>
  <div class="box">
    <label for="">Categoria:</label>
    <input type="text" name="categoria" id="categoria" />
  </div>
</div>
<div class="containerDireito">
  <div class="box">
    <label for="">Data:</label>
    <input type="date" name="data" id="data" />
  </div>

  <div class="box">
    <label for="">conta:</label>
    <input type="text" name="conta" id="conta" />
  </div>
</div>
