<div class="containerLeft">
  <div class="box">
    <label for="">Valor:</label>
    <input type="text" name="valor" id="valor" />
  </div>

  <div class="box">
    <label for="">Status:</label>
    <select name="status" id="status">
      <option value="Concluido">Concluido</option>
      <option value="A Receber">A Receber</option>
    </select>
  </div>

  <div class="box">
    <label for="">Descricao:</label>
    <input type="text" name="descricao" id="descricao" />
  </div>
  <div class="box">
    <label for="">Categoria:</label>
    <select name="categoria" id="categoria">
      <option value="Investimento">Investimento</option>
      <option value="Outros">Outros</option>
      <option value="Prêmio">Prêmio</option>
      <option value="Presente">Presente</option>
    </select>
  </div>
</div>
<div class="containerDireito">
  <div class="box">
    <label for="">Data:</label>
    <input type="date" name="data" id="data" />
  </div>

  <div class="box">
    <label for="">conta:</label>
    <input type="text" name="conta" id="conta" />
  </div>
</div>
