<div class="containerLeft">
  <div class="box">
    <label for="">Valor:</label>
    <input type="number" name="valor" id="valor" required />
  </div>

  <div class="box">
    <label for="">Status:</label>
    <select name="status" id="status" required>
      <option value="Concluido">Concluido</option>
      <option value="A Receber">A Receber</option>
    </select>
  </div>

  <div class="box">
    <label for="">Descricao:</label>
    <input type="text" name="descricao" id="descricao" required />
  </div>
  <div class="box">
    <label for="">Categoria:</label>
    <select name="categoria" id="categoria" required>
      <option value="Investimento">Investimento</option>
      <option value="Outros">Outros</option>
      <option value="Prêmio">Prêmio</option>
      <option value="Presente">Presente</option>
    </select>
  </div>
</div>
<div class="containerDireito">
  <div class="box">
    <label for="">Data:</label>
    <input type="date" name="data" id="data" required />
  </div>

  <div class="box">
    <label for="">conta:</label>
    <select name="contas" id="contas" required></select>
    <!-- <input type="text" name="conta" id="conta" required /> -->
  </div>
</div>
<script src="/js/preencherContaBancaria.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
