<div class="containerLeft">
  <div class="box">
    <label for="">Instituição:</label>
    <select name="instituicao" id="instituicao" required>
      <option value="Banco do Brasil">Banco do Brasil</option>
      <option value="Caixa Econômica Federal">Caixa Econômica Federal</option>
      <option value="Itaú">Itaú</option>
      <option value="Bradesco">Bradesco</option>
      <option value="Santander">Santander</option>
      <option value="HSBC">HSBC</option>
      <option value="BTG Pactual">BTG Pactual</option>
      <option value="BTG Digital">BTG Digital</option>
      <option value="Inter">Inter</option>
      <option value="Next">Next</option>
      <option value="NuConta"></option>
      <option value="Nubank">Nubank</option>
      <option value="Safra">Safra</option>
      <option value="Modalmais">Modalmais</option>
      <option value="Original">Original</option>
      <option value="PagSeguro">PagSeguro</option>
      <option value="Banrisul">Banrisul</option>
      <option value="Sicredi">Sicredi</option>
      <option value="Banco Intermedium">Banco Intermedium</option>
      <option value="Banco do Nordeste">Banco do Nordeste</option>
    </select>
  </div>
  <div class="box">
    <label for="">Descricao:</label>
    <input type="text" name="descricao" id="descricao" required />
  </div>
</div>
<div class="containerDireito">
  <div class="box">
    <label for="">Saldo:</label>
    <input type="text" name="saldo" id="saldo" required />
  </div>
  <div class="box">
    <label for="">Tipo de Conta:</label>
    <select name="tipoConta" id="tipoConta" required>
      <option value="Conta Corrente">Conta Corrente</option>
      <option value="Dinheiro">Dinheiro</option>
      <option value="Poupança">Poupança</option>
      <option value="Investimentos">Investimentos</option>
      <option value="Outros">Outros</option>
    </select>
  </div>
</div>
