<div class="containerLeft">
  <div class="box">
    <label for="">Nome Completo</label>
    <input type="text" name="NomeCompleto" id="NomeCompleto" />
  </div>

  <div class="box">
    <label for="">Como Você Gostaria de ser chamado ?</label>
    <input type="text" name="SerChamado" id="SerChamado" readonly />
  </div>

  <div class="box">
    <label for="">Email: </label>
    <input type="email" name="email" id="email" readonly />
  </div>

  <div class="box">
    <label for="">Telefone: </label>
    <input type="text" name="telefone" id="telefone" />
  </div>

  <div class="box">
    <label for="">Cep: </label>
    <input type="text" name="cep" id="cep" />
  </div>

  <div class="box">
    <label for="">Estado: </label>
    <input type="text" name="estado" id="estado" />
  </div>

  <div class="box">
    <label for="">Cidade: </label>
    <input type="text" name="cidade" id="cidade" />
  </div>
</div>
<div class="containerDireito">
  <div class="box">
    <label for="">Data de Aniversario: </label>
    <input type="date" name="dataNascimento" id="dataNascimento" />
  </div>

  <div class="box">
    <label for="">Sexo: </label>
    <select name="sexo" id="sexo">
      <option value="Masculino">Masculino</option>
      <option value="Feminino">Feminino</option>
    </select>
  </div>

  <div class="box">
    <label for="">CPF: </label>
    <input type="text" name="cpf" id="cpf" />
  </div>
  <div class="box">
    <label for="">Objetivo Financeiro: </label>
    <select name="objetivoFinanceiro" id="objetivoFinanceiro">
      <option value="Aposentadoria">Aposentadoria</option>
      <option value="Comprar Carro">Comprar Carro</option>
      <option value="Comprar Casa">Comprar Casa</option>
      <option value="Comprar Moto">Comprar Moto</option>
      <option value="Comprar Outro Bem">Comprar Outro Bem</option>
      <option value="Comprar Viagem">Comprar Viagem</option>
      <option value="Construir Patrimonio">Construir Patrimonio</option>
      <option value="Outro">Outro</option>
    </select>
  </div>
</div>
