<div class="containerLeft">
  <div class="box">
    <label for="">Nome:</label>
    <input type="text" name="nome" id="nome" />
  </div>

  <div class="box">
    <label for="">Limite:</label>
    <input type="text" name="limite" id="limite" />
  </div>

  <div class="box">
    <label for="">Data Vencimento:</label>
    <input type="text" name="dataVencimento" id="dataVencimento" />
  </div>
  <div class="box">
    <label for="">Data Fechamento:</label>
    <input type="text" name="dataFechamento" id="dataFechamento" />
  </div>
</div>
<div class="containerDireito">
  <div class="box">
    <label for="">Bandeira:</label>
    <input type="text" name="bandeira" id="bandeira" />
  </div>
</div>
