<div class="containerLeft">
  <div class="box">
    <label for="">Instituição:</label>
    <select name="instituicao" id="instituicao" required>
      <option value="banco-do-brasil">Banco do Brasil</option>
      <option value="caixa-economica">Caixa Econômica Federal</option>
      <option value="itau">Itaú</option>
      <option value="bradesco">Bradesco</option>
      <option value="santander">Santander</option>
      <option value="hsbc">HSBC</option>
      <option value="btg-pactual">BTG Pactual</option>
      <option value="btg-digital">BTG Digital</option>
      <option value="inter">Inter</option>
      <option value="next">Next</option>
      <option value="nuconta">NuConta</option>
      <option value="nubank">Nubank</option>
      <option value="safra">Safra</option>
      <option value="modalmais">Modalmais</option>
      <option value="original">Original</option>
      <option value="pagseguro">PagSeguro</option>
      <option value="banrisul">Banrisul</option>
      <option value="sicredi">Sicredi</option>
      <option value="banco-intermedium">Banco Intermedium</option>
      <option value="banco-do-nordeste">Banco do Nordeste</option>
    </select>
  </div>
  <div class="box">
    <label for="">Descricao:</label>
    <input type="text" name="descricao" id="descricao" required />
  </div>
</div>
<div class="containerDireito">
  <div class="box">
    <label for="">Saldo:</label>
    <input type="text" name="saldo" id="saldo" required />
  </div>
  <div class="box">
    <label for="">Tipo de Conta:</label>
    <select name="tipoConta" id="tipoConta" required>
      <option value="Conta Corrente">Conta Corrente</option>
      <option value="Dinheiro">Dinheiro</option>
      <option value="Poupança">Poupança</option>
      <option value="Investimentos">Investimentos</option>
      <option value="Outros">Outros</option>
    </select>
  </div>
</div>
