<main>
  <h1 class="title">Dashboard</h1>

  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li class="divider">/</li>
    <li><a href="#" class="active">Dashboard</a></li>
  </ul>

  <div class="info-data">
    <div class="card">
      <div class="head">
        <h2>Saldo Atual</h2>
        <i class="bx bxs-bank"></i>
      </div>
      <div class="money">
        <h5>R$3.514,56</h5>
      </div>
    </div>

    <div class="card">
      <div class="head">
        <div>
          <h2>Receitas</h2>
        </div>
        <i class="bx bx-trending-down icon down"></i>
      </div>
      <div class="money">
        <h5>R$7.514,56</h5>
      </div>
    </div>

    <div class="card">
      <div class="head">
        <div>
          <h2>Despesas</h2>
        </div>
        <i class="bx bx-trending-up icon"></i>
      </div>
      <div class="money">
        <h5>R$4.514,56</h5>
      </div>
    </div>

    <div class="card">
      <div class="head">
        <div>
          <h2>Cartão de Crédito</h2>
        </div>
        <i class="bx bx-trending-up icon"></i>
      </div>
      <div class="money">
        <h5>R$514.56</h5>
      </div>
    </div>
  </div>
  <div class="data">
    <div class="content-data">
      <div class="head">
        <h3>Balanço Geral</h3>
        <div class="menu">
          <i class="bx bx-dots-horizontal-rounded icon"></i>
          <ul class="menu-link">
            <li><a href="#">Edit</a></li>
            <li><a href="#">Save</a></li>
            <li><a href="#">Remove</a></li>
          </ul>
        </div>
      </div>
      <div class="chart">
        <div id="chart"></div>
      </div>
    </div>
    <div class="content-data">
      <div class="head">
        <h3>Transações</h3>
        <div class="menu">
          <i class="bx bx-dots-horizontal-rounded icon"></i>
          <ul class="menu-link">
            <li><a href="#">Recibo</a></li>
            <li><a href="#">Exportar Transações</a></li>
            <li><a href="#">Importar Transações</a></li>
            <li><a href="#">Opção de visualização</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
