<main>
  <h1 class="title">Dashboard</h1>

  <ul class="breadcrumbs">
    <li><a href="#">Home</a></li>
    <li class="divider">/</li>
    <li><a href="#" class="active">Dashboard</a></li>
  </ul>

  <div class="info-data">
    <div class="card">
      <div class="head">
        <h2>Saldo Atual</h2>
        <i class="bx bxs-bank iconeInicialSaldo"></i>
      </div>
      <div class="money">
        <h5 id="SaldoAtual"></h5>
      </div>
    </div>

    <div class="card">
      <div class="head">
        <div>
          <h2>Receitas</h2>
        </div>
        <i class="bx bx-trending-up iconeInicialReceita"></i>
      </div>
      <div class="money">
        <h5 id="somatorioReceitas"></h5>
      </div>
    </div>

    <div class="card">
      <div class="head">
        <div>
          <h2>Despesas</h2>
        </div>
        <i class="bx bx-trending-down iconeInicialDespesa"></i>
      </div>
      <div class="money">
        <h5 id="somatorioDespesas"></h5>
      </div>
    </div>
  </div>
  <div class="data">
    <div class="content-data">
      <div class="head">
        <h3>Balanço Geral</h3>
        <div class="menu">
          <i class="bx bx-dots-horizontal-rounded icon"></i>
          <ul class="menu-link">
            <li><a href="#">Edit</a></li>
            <li><a href="#">Save</a></li>
            <li><a href="#">Remove</a></li>
          </ul>
        </div>
      </div>
      <div class="chart">
        <div id="chart"></div>
      </div>
      <canvas id="meuGrafico"></canvas>
    </div>
    <div class="content-data">
      <div class="head">
        <h3>Transações</h3>
        <div class="menu">
          <i class="bx bx-dots-horizontal-rounded icon"></i>
          <ul class="menu-link">
            <li><a href="#">Recibo</a></li>
            <li><a href="#">Exportar Transações</a></li>
            <li><a href="#">Importar Transações</a></li>
            <li><a href="#">Opção de visualização</a></li>
          </ul>
        </div>
      </div>
      <%- include ('ReceitasCriadasUserDashboard.ejs'); -%>
      <br />
      <%- include ('DespesasCriadasUserDashboard.ejs'); -%>
    </div>
  </div>
</main>
<script src="/js/somatorioDespesa.js"></script>
<script src="/js/somatorioReceita.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/GraficoDashboard.js"></script>
<script src="/js/SaldoAtual.js"></script>