<nav>
  <!-- <i class="bx bx-menu toggle-sidebar"></i> -->
  <form action="#">
    <!-- <div class="form-group">
      <input type="text" placeholder="Search..." />
      <i class="bx bx-search icon"></i>
    </div> -->
  </form>

  <div class="profile">
    <div class="name">
      <input
        type="button"
        id="SerChamadoPerfil"
        style="border: none; display: inline-block; font-weight: bold"
        readonly
      />
    </div>

    <div class="foto">
      <img src="https://cdn-icons-png.flaticon.com/512/6681/6681204.png" alt="" />
      <ul class="profile-link">
        <li>
          <a href="/meuperfil" onclick="dadosLogin()"><i class="bx bxs-user-circle icon"></i> Meu Perfil</a>
        </li>
        <li>
          <a href="#"><i class="bx bxs-cog"></i> Configurações</a>
        </li>
        <li>
          <a href="/login"><i class="bx bxs-log-out-circle"></i> Sair</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="/js/SearchDadosUser.js"></script>
