<div>
  <h2 id="classificationTable" class="text-sm-center" style="color: aliceblue">
    <br />
    <i class="bx bx-credit-card icon"></i> Cartões de Crédito
  </h2>
  <br />
  <br />
  <div class="table-responsive-sm">
    <table class="table table-dark table-striped" id="tabelaReceitas">
      <thead class="table-dark text-center">
        <tr>
          <th class="text-center">Nome Cartão</th>
          <th class="text-center">Limite</th>
          <th class="text-center">Data Vencimento</th>
          <th class="text-center">Data Fechamento</th>
          <th class="text-center">Bandeira</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody id="ListCartaoDeCredito" class="text-center" style="color: aliceblue"></tbody>
    </table>
  </div>
</div>

<script src="/js/CartaoDeCredito.js"></script>
