<div>
  <br />
  <h2 id="classificationTable" class="text-sm-center" style="color: aliceblue">
    <i class="bx bx-table icon"></i> Transações Receitas
  </h2>
  <br />
  <br />
  <div class="table-responsive-sm">
    <table class="table table-dark table-striped" id="tabelaReceitas">
      <thead class="table-dark text-center">
        <tr>
          <th class="text-center">Valor</th>
          <th class="text-center">Status</th>
          <th class="text-center">Data</th>
          <th class="text-center">Descrição</th>
          <th class="text-center">Categoria</th>
          <th class="text-center">Conta</th>
          <th class="text-center">Ações</th>
        </tr>
      </thead>
      <tbody id="ListReceitas" class="text-center" style="color: aliceblue"></tbody>
    </table>
  </div>
</div>

<script src="/js/Receitas.js"></script>
