<section id="sidebar">
  <a href="#" class="brand"><i class="bx bxl-flutter icon"></i> BrazTec</a>
  <ul class="side-menu">
    <li class="divider" data-text="Menu">Menu</li>
    <br />
    <li>
      <a href="/dashboard" id="novo-button" class="active"><i class="bx bxs-dashboard icon"></i> Dashboard</a>
    </li>
    <li>
      <a href="/receitas"><i class="bx bx-trending-up icon"></i>Receitas</a>
    </li>
    <li>
      <a href="/despesas"><i class="bx bx-trending-down icon"></i>Despesas</a>
    </li>
    <li>
      <a href="/CadastroCartaoDeCredito"><i class="bx bx-credit-card icon"></i>Cartão de Crédito</a>
    </li>
    <li>
      <a href="#"><i class="bx bxs-chart icon"></i> Transações</a>
    </li>
    <li>
      <a href="#"><i class="bx bxs-inbox icon"></i> Contas </a>
    </li>

    <li>
      <a href="#"><i class="bx bx-table icon"></i> Orçamentos</a>
    </li>
    <li>
      <a href="#"><i class="bx bx-book-bookmark icon"></i> Relatório</a>
    </li>
  </ul>

  <div class="ads">
    <div class="wrapper">
      <a href="#" class="btn-upgrade">Premium</a>
      <p>Torne-se um membro <strong> PRO </strong> e aproveite todos os <strong> recursos </strong></p>
    </div>
  </div>
</section>
